<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App By Afsal Mdathingal</title>
    <link rel="shortcut icon" href="https://cdn.jim-nielsen.com/ios/512/weather-2021-12-07.png" type="image/x-icon">
</head>
<body>
    {{{body}}}
</body>
</html>